swagger: '2.0'
info:
  version: '1.0'
  title: r/SpaceX API Docs
  description: >-
    ## Base URL

    The most current version of the API is v3, with the following base URL

    `https://api.spacexdata.com/v3`


    ## API Status

    See the [status](https://status.spacexdata.com) page for details


    ## Authentication

    No authentication is required to use this public API


    ## JSON Field Masking

    Smaller JSON payloads can be generated through the use of the `filter` querystring. When using this querystring, all fields not included in the query will be omitted from the response.


    For example, on the launches endpoint, you could include `filter=flight_number` to only return the flight number of every launch. Nested JSON fields can be expressed using a forward slash for each nested level. Ex: `filter=rocket/second_stage/payloads` to only return the payload objects from each launch. Multiple filters can be listed using a comma separator Ex: `filter=rocket/second_stage/payloads,flight_number,mission_name`.


    More information on the syntax can be found on the json-mask [github](https://github.com/nemtsov/json-mask) page.


    ## Pagination

    All endpoints that return an array of objects can be paginated by using the `limit` and `offset` querystrings. This allows you to limit results and create pages of results to offset or skip.


    On all endpoints that return an array, the header `spacex-api-count` is included with the total number of items in the array. This can be used to page through the results. By default, there is no limit set.


    For example, the url `https://api.spacexdata.com/v3/launches?limit=1&offset=5` will only return launch #6, because we limited the results to a single launch, and skipped the first 5 launches using offset.


    ## Pretty Printing

    JSON pretty printing is turned off by default to reduce payload size. It can be enabled by including

    the querystring `pretty=true` in the url.

    ```http

    GET https://api.spacexdata.com/v3/launches/latest?pretty=true

    ```


    ## Privacy

    I do not log IP addresses or any personally identifiable information at the app or web server level. I collect timestamps,

    HTTP methods, urls, and response times to adjust caching strategies on popular endpoints. Below is a sample log line output:

    ```bash

    [27/Aug/2018:00:42:06 +0000] "GET /v3/launches/latest HTTP/1.1" 200 - 51.478 ms

    ```


    I use [Cloudflare](https://www.cloudflare.com/) in front of the API. Please see their [privacy policy](https://www.cloudflare.com/privacypolicy/) for more details on data collection policies.


    ## Rate Limiting

    The API has a rate limit of 50 req/sec per IP address, if exceeded, a response of 429 will be given

    until the rate drops back below 50 req/sec


    ## Caching

    In general, the standard cache times are as follows:


    * launches - 30 seconds

    * ships, payloads, roadster - 5 minutes

    * capsules, cores, launchpads, landpads - 1 hour

    * dragons, rockets, missions, history, company info - 24 hours


    ## Date field FAQ's

    Dates and Date related field explanations:


    `launch_year` - Year of the launch in string form (Will be deprecated soon)


    `launch_date_unix` - UTC launch date/time as a UNIX timestamp in seconds


    `launch_date_utc` - UTC launch date/time in ISO 8601 format


    `launch_date_local` - Local launch time with time zone offset in ISO 8601 format


    `is_tentative` - Set as true until a launch has an time attached to the date


    `tentative_max_precision` - Gives the current known precision for the launch date. Valid values are `quarter`, `half`, `year`, `month`, `day`, `hour`. This allows us to give more context when representing partial dates like `November 2019` with a precision of `month`


    `tbd` - Set as false when the date includes a day number or a day number with a time, otherwise the date is considered to be TBD and set as true


    `upcoming` - Set as true until the moment of launch


    `static_fire_date_utc` - UTC date/time for the rocket static fire test in ISO 8601 format


    `static_fire_date_unix` - UTC date/time for the rocket static fire test as a UNIX timestamp in seconds
  contact: {}
host: api.spacexdata.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /v3/launches:
    get:
      description: >2-

        #### Optional Querystrings


        | Param  | Sample | Type | Description |

        | --- | --- | --- | --- |

        | flight_id | `5a9fc479ab70786ba5a1eaaa` | string | Filter launches by mongo document id |

        | start/end | `start=2017-06-22&end=2017-06-25` | valid JavaScript date format | Include both to sort by date range |

        | flight_number | `60` | integer | Filter by flight number |

        | launch_year | `2018` | integer | Filter by launch year |

        | launch_date_utc | `2017-06-23T19:10:000Z` | UTC ISO timestamp | Filter by utc launch date |

        | launch_date_local | `2017-06-23T19:10:000Z` | Local ISO timestamp | Filter by local launch date |

        | tbd | `true` | boolean | Filter by TBD launches |

        | rocket_id | `falconheavy` | string | Filter by rocket ID |

        | rocket_name | `Falcon+Heavy` | string | Filter by rocket name |

        | rocket_type | `FT` | string | Filter by rocket type |

        | core_serial | `B1045` | string | Filter by core serial number |

        | land_success | `true` | boolean | Filter by successful core landings |

        | landing_intent | `true` | boolean | Filter by landing intention |

        | landing_type | `ASDS` | string | Filter by landing method |

        | landing_vehicle | `OCISLY` | string | Filter by landing vehicle |

        | cap_serial | `C111` | string | Filter by capsule serial number |

        | core_flight | `2` | integer | Filter by number of previous core flights |

        | block | `5` | integer | Filter by core block number |

        | gridfins | `true` | boolean | Filter launches by cores that used gridfins |

        | legs | `true` | boolean | Filter launches by cores that used landing legs |

        | core_reuse | `true` | boolean | Filter launches by reused cores |

        | capsule_reuse | `true` | boolean | Filter launches by reused capsules |

        | fairings_reused | `true` | boolean | Filter by reused fairings |

        | fairings_recovery_attempt | `false` | boolean | Filter by fairing recovery attempts |

        | fairings_recovered | `false` | boolean | Filter by recovered fairings |

        | fairings_ship | `MRSTEVEN` | string | Filter by fairings ship used |

        | site_id | `ksc_lc_39a` | string | Filter by launch site ID |

        | site_name | `KSC LC 39A` | string | Filter by launch site ID |

        | payload_id | `BulgariaSat-1` | string | Filter by payload ID |

        | norad_id | `43571` | integer | Filter by NORAD ID |

        | customer | `Iridium` | string | Filter by launch payload customer |

        | nationality | `Bulgaria` | string | Filter by payload nationality |

        | manufacturer | `SSL` | string | Filter by payload manufacturer |

        | payload_type | `Satellite` | string | Filter by payload type |

        | orbit | `GTO` | string | Filter by payload orbit |

        | reference_system | `geocentric` | string | Filter by payload orbit reference system |

        | regime | `geostationary` | string | Filter by payload orbit regime |

        | longitude | `-108` | float | Filter by payload orbit longitude |

        | semi_major_axis_km | `21226.178` | float | Filter by payload orbit semi major axis |

        | eccentricity | `0.6904141` | float | Filter by payload orbit eccentricity |

        | periapsis_km | `193.19` | float | Filter by payload orbit periapsis |

        | apoapsis_km | `29502.896` | float | Filter by payload orbit apoapsis |

        | inclination_deg | `27.0648` | float | Filter by payload orbit inclination |

        | period_min | `512.941` | float | Filter by payload orbit period |

        | lifespan_years | `512.941` | integer | Filter by payload lifespan in years |

        | epoch | `2018-08-07T06:57:16.000Z` | string | Filter by payload orbit epoch |

        | mean_motion | `2.80734018` | float | Filter by payload orbit mean motion |

        | raan | `227.0228` | float | Filter by payload orbit right ascension of the ascending node |

        | launch_success | `true` | boolean | Filter by launch success |


        #### Optional Ouput Control Querystrings


        | Param  | Sample | Type | Description |

        | --- | --- | --- | --- |

        | id | `true` | boolean | Set as `true` to show mongo document id's |

        | limit | `3` | integer | Limit results returned, defaults to all documents returned |

        | offset | `3` | integer | Offset or skip results from the beginning of the query |

        | sort | `flight_number` | string | Change result sorting by setting value to any parameter in this list |

        | order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |
      summary: All Launches
      tags:
      - Launches
      operationId: AllLaunches
      deprecated: false
      produces:
      - application/json; charset=utf-8
      parameters: []
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/AllLaunch'
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-RAY:
              type: string
              default: 45845364eeb458df-DFW
            Connection:
              type: string
              default: keep-alive
            Content-Encoding:
              type: string
              default: gzip
            Date:
              type: string
              default: Mon, 10 Sep 2018 19:33:21 GMT
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              type: string
              default: cloudflare
            Strict-Transport-Security:
              type: string
              default: max-age=15552000; includeSubDomains
            Transfer-Encoding:
              type: string
              default: chunked
            Vary:
              type: string
              default: Accept-Encoding, Origin
            X-Content-Type-Options:
              type: string
              default: nosniff
            X-DNS-Prefetch-Control:
              type: string
              default: off
            X-Download-Options:
              type: string
              default: noopen
            X-Frame-Options:
              type: string
              default: SAMEORIGIN
            X-Response-Time:
              type: string
              default: 258ms
            X-XSS-Protection:
              type: string
              default: 1; mode=block
  /v3/launches/{flight_number}:
    get:
      description: >2-

        #### Params


        | Param  | Sample | Type | Description |

        | --- | --- | --- | --- |

        | flight_number | `64` | integer | get one launch by flight number |


        #### Optional Ouput Control Querystrings


        | Param  | Sample | Type | Description |

        | --- | --- | --- | --- |

        | id | `true` | boolean | Set as `true` to show mongo document id's |
      summary: One Launch
      tags:
      - Launches
      operationId: OneLaunch
      deprecated: false
      produces:
      - application/json; charset=utf-8
      parameters:
      - name: flight_number
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/OneLaunch'
          examples:
            application/json; charset=utf-8:
              flight_number: 65
              mission_name: Telstar 19V
              mission_id:
              - F4F83DE
              launch_year: 2018
              launch_date_unix: 1532238600
              launch_date_utc: 2018-07-22T05:50:00Z
              launch_date_local: 2018-07-22T05:50:00+00:00
              is_tentative: false
              tentative_max_precision: hour
              tbd: false
              launch_window: 7200
              rocket:
                rocket_id: falcon9
                rocket_name: Falcon 9
                rocket_type: FT
                first_stage:
                  cores:
                  - core_serial: B1047
                    flight: 1
                    block: 5
                    gridfins: true
                    legs: true
                    reused: false
                    land_success: true
                    landing_intent: true
                    landing_type: ASDS
                    landing_vehicle: OCISLY
                second_stage:
                  block: 5
                  payloads:
                  - payload_id: Telstar 19V
                    norad_id:
                    - 43562
                    reused: false
                    customers:
                    - Telesat
                    nationality: Canada
                    manufacturer: SSL
                    payload_type: Satellite
                    payload_mass_kg: 7076
                    payload_mass_lbs: 15600
                    orbit: GTO
                    orbit_params:
                      reference_system: geocentric
                      regime: geostationary
                      longitude: -65
                      semi_major_axis_km: 42163.837
                      eccentricity: 0.0001327
                      periapsis_km: 35780.107000000004
                      apoapsis_km: 35791.296999999999
                      inclination_deg: 0.0126
                      period_min: 1436.0509999999999
                      lifespan_years: 15
                      epoch: 2019-02-03T19:17:09Z
                      mean_motion: 1.0027497700000001
                      raan: 130.2989
                      arg_of_pericenter: 165.1069
                      mean_anomaly: 64.549499999999995
                fairings:
                  reused: false
                  recovery_attempt: false
                  recovered: false
                  ship: 
              ships:
              - GOPURSUIT
              - GOQUEST
              - HAWK
              - OCISLY
              telemetry:
                flight_club: https://www.flightclub.io/results/?code=TS19V
              launch_site:
                site_id: ccafs_slc_40
                site_name: CCAFS SLC 40
                site_name_long: Cape Canaveral Air Force Station Space Launch Complex 40
              launch_success: true
              links:
                mission_patch: https://images2.imgbox.com/c5/53/5jklZkPz_o.png
                mission_patch_small: https://images2.imgbox.com/12/7c/NiniYxoh_o.png
                reddit_campaign: https://www.reddit.com/r/spacex/comments/8w19yg/telstar_19v_launch_campaign_thread/
                reddit_launch: https://www.reddit.com/r/spacex/comments/90p1a6/rspacex_telstar_19v_official_launch_discussion/
                reddit_recovery: 
                reddit_media: https://www.reddit.com/r/spacex/comments/90oxrr/rspacex_telstar_19v_media_thread_videos_images/
                presskit: http://www.spacex.com/sites/spacex/files/telstar19vantagepresskit.pdf
                article_link: https://spaceflightnow.com/2018/07/22/spacex-delivers-for-telesat-with-successful-early-morning-launch/
                wikipedia: https://en.wikipedia.org/wiki/Telstar_19V
                video_link: https://www.youtube.com/watch?v=xybp6zLaGx4
                youtube_id: xybp6zLaGx4
                flickr_images:
                - https://farm1.staticflickr.com/856/28684550147_49802752b3_o.jpg
                - https://farm1.staticflickr.com/927/28684552447_956a9744f1_o.jpg
                - https://farm2.staticflickr.com/1828/29700007298_8ac5891d2c_o.jpg
                - https://farm1.staticflickr.com/914/29700004918_31ed7b73ef_o.jpg
                - https://farm1.staticflickr.com/844/29700002748_3047e50a0a_o.jpg
                - https://farm2.staticflickr.com/1786/29700000688_2514cd3cbb_o.jpg
              details: SSL-manufactured communications satellite intended to be placed at 63° West over the Americas. At 7,075 kg, it became the heaviest commercial communications satellite ever launched.
              upcoming: false
              static_fire_date_utc: 2018-07-18T21:00:00Z
              static_fire_date_unix: 1531947600
              timeline:
                webcast_liftoff: 899
                go_for_prop_loading: -2280
                rp1_loading: -2100
                stage1_lox_loading: -2100
                stage2_lox_loading: -960
                engine_chill: -420
                prelaunch_checks: -60
                propellant_pressurization: -60
                go_for_launch: -45
                ignition: -3
                liftoff: 0
                maxq: 72
                meco: 150
                stage_sep: 153
                second_stage_ignition: 154
                fairing_deploy: 220
                first_stage_entry_burn: 372
                seco-1: 492
                first_stage_landing: 509
                second_stage_restart: 1609
                seco-2: 1659
                payload_deploy: 1960
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-RAY:
              type: string
              default: 45845462ea8158df-DFW
            Connection:
              type: string
              default: keep-alive
            Content-Encoding:
              type: string
              default: gzip
            Date:
              type: string
              default: Mon, 10 Sep 2018 19:34:01 GMT
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              type: string
              default: cloudflare
            Strict-Transport-Security:
              type: string
              default: max-age=15552000; includeSubDomains
            Transfer-Encoding:
              type: string
              default: chunked
            Vary:
              type: string
              default: Accept-Encoding, Origin
            X-Content-Type-Options:
              type: string
              default: nosniff
            X-DNS-Prefetch-Control:
              type: string
              default: off
            X-Download-Options:
              type: string
              default: noopen
            X-Frame-Options:
              type: string
              default: SAMEORIGIN
            X-Koa-Redis-Cache:
              type: string
              default: true
            X-Response-Time:
              type: string
              default: 1ms
            X-XSS-Protection:
              type: string
              default: 1; mode=block
  /v3/launches/past:
    get:
      description: >2-

        #### Optional Querystrings


        | Param  | Sample | Type | Description |

        | --- | --- | --- | --- |

        | flight_id | `5a9fc479ab70786ba5a1eaaa` | string | Filter launches by mongo document id |

        | start/end | `start=2017-06-22&end=2017-06-25` | valid JavaScript date format | Include both to sort by date range |

        | flight_number | `60` | integer | Filter by flight number |

        | launch_year | `2018` | integer | Filter by launch year |

        | launch_date_utc | `2017-06-23T19:10:000Z` | UTC ISO timestamp | Filter by utc launch date |

        | launch_date_local | `2017-06-23T19:10:000Z` | Local ISO timestamp | Filter by local launch date |

        | tbd | `true` | boolean | Filter by TBD launches |

        | rocket_id | `falconheavy` | string | Filter by rocket ID |

        | rocket_name | `Falcon+Heavy` | string | Filter by rocket name |

        | rocket_type | `FT` | string | Filter by rocket type |

        | core_serial | `B1045` | string | Filter by core serial number |

        | land_success | `true` | boolean | Filter by successful core landings |

        | landing_intent | `true` | boolean | Filter by landing intention |

        | landing_type | `ASDS` | string | Filter by landing method |

        | landing_vehicle | `OCISLY` | string | Filter by landing vehicle |

        | cap_serial | `C111` | string | Filter by capsule serial number |

        | core_flight | `2` | integer | Filter by number of previous core flights |

        | block | `5` | integer | Filter by core block number |

        | gridfins | `true` | boolean | Filter launches by cores that used gridfins |

        | legs | `true` | boolean | Filter launches by cores that used landing legs |

        | core_reuse | `true` | boolean | Filter launches by reused cores |

        | capsule_reuse | `true` | boolean | Filter launches by reused capsules |

        | fairings_reused | `true` | boolean | Filter by reused fairings |

        | fairings_recovery_attempt | `false` | boolean | Filter by fairing recovery attempts |

        | fairings_recovered | `false` | boolean | Filter by recovered fairings |

        | fairings_ship | `MRSTEVEN` | string | Filter by fairings ship used |

        | site_id | `ksc_lc_39a` | string | Filter by launch site ID |

        | site_name | `KSC LC 39A` | string | Filter by launch site ID |

        | payload_id | `BulgariaSat-1` | string | Filter by payload ID |

        | norad_id | `43571` | integer | Filter by NORAD ID |

        | customer | `Iridium` | string | Filter by launch payload customer |

        | nationality | `Bulgaria` | string | Filter by payload nationality |

        | manufacturer | `SSL` | string | Filter by payload manufacturer |

        | payload_type | `Satellite` | string | Filter by payload type |

        | orbit | `GTO` | string | Filter by payload orbit |

        | reference_system | `geocentric` | string | Filter by payload orbit reference system |

        | regime | `geostationary` | string | Filter by payload orbit regime |

        | longitude | `-108` | float | Filter by payload orbit longitude |

        | semi_major_axis_km | `21226.178` | float | Filter by payload orbit semi major axis |

        | eccentricity | `0.6904141` | float | Filter by payload orbit eccentricity |

        | periapsis_km | `193.19` | float | Filter by payload orbit periapsis |

        | apoapsis_km | `29502.896` | float | Filter by payload orbit apoapsis |

        | inclination_deg | `27.0648` | float | Filter by payload orbit inclination |

        | period_min | `512.941` | float | Filter by payload orbit period |

        | lifespan_years | `512.941` | integer | Filter by payload lifespan in years |

        | epoch | `2018-08-07T06:57:16.000Z` | string | Filter by payload orbit epoch |

        | mean_motion | `2.80734018` | float | Filter by payload orbit mean motion |

        | raan | `227.0228` | float | Filter by payload orbit right ascension of the ascending node |

        | launch_success | `true` | boolean | Filter by launch success |


        #### Optional Ouput Control Querystrings


        | Param  | Sample | Type | Description |

        | --- | --- | --- | --- |

        | id | `true` | boolean | Set as `true` to show mongo document id's |

        | limit | `3` | integer | Limit results returned, defaults to all documents returned |

        | offset | `3` | integer | Offset or skip results from the beginning of the query |

        | sort | `flight_number` | string | Change result sorting by setting value to any parameter in this list |

        | order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |
      summary: Past Launches
      tags:
      - Launches
      operationId: PastLaunches
      deprecated: false
      produces:
      - application/json; charset=utf-8
      parameters: []
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/PastLaunch'
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-RAY:
              type: string
              default: 4584556abd8358df-DFW
            Connection:
              type: string
              default: keep-alive
            Content-Encoding:
              type: string
              default: gzip
            Date:
              type: string
              default: Mon, 10 Sep 2018 19:34:43 GMT
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              type: string
              default: cloudflare
            Strict-Transport-Security:
              type: string
              default: max-age=15552000; includeSubDomains
            Transfer-Encoding:
              type: string
              default: chunked
            Vary:
              type: string
              default: Accept-Encoding, Origin
            X-Content-Type-Options:
              type: string
              default: nosniff
            X-DNS-Prefetch-Control:
              type: string
              default: off
            X-Download-Options:
              type: string
              default: noopen
            X-Frame-Options:
              type: string
              default: SAMEORIGIN
            X-Response-Time:
              type: string
              default: 169ms
            X-XSS-Protection:
              type: string
              default: 1; mode=block
  /v3/launches/upcoming:
    get:
      description: >2-

        #### Optional Querystrings


        | Param  | Sample | Type | Description |

        | --- | --- | --- | --- |

        | flight_id | `5a9fc479ab70786ba5a1eaaa` | string | Filter launches by mongo document id |

        | start/end | `start=2017-06-22&end=2017-06-25` | valid JavaScript date format | Include both to sort by date range |

        | flight_number | `60` | integer | Filter by flight number |

        | launch_year | `2018` | integer | Filter by launch year |

        | launch_date_utc | `2017-06-23T19:10:000Z` | UTC ISO timestamp | Filter by utc launch date |

        | launch_date_local | `2017-06-23T19:10:000Z` | Local ISO timestamp | Filter by local launch date |

        | tbd | `true` | boolean | Filter by TBD launches |

        | rocket_id | `falconheavy` | string | Filter by rocket ID |

        | rocket_name | `Falcon+Heavy` | string | Filter by rocket name |

        | rocket_type | `FT` | string | Filter by rocket type |

        | core_serial | `B1045` | string | Filter by core serial number |

        | land_success | `true` | boolean | Filter by successful core landings |

        | landing_intent | `true` | boolean | Filter by landing intention |

        | landing_type | `ASDS` | string | Filter by landing method |

        | landing_vehicle | `OCISLY` | string | Filter by landing vehicle |

        | cap_serial | `C111` | string | Filter by capsule serial number |

        | core_flight | `2` | integer | Filter by number of previous core flights |

        | block | `5` | integer | Filter by core block number |

        | gridfins | `true` | boolean | Filter launches by cores that used gridfins |

        | legs | `true` | boolean | Filter launches by cores that used landing legs |

        | core_reuse | `true` | boolean | Filter launches by reused cores |

        | capsule_reuse | `true` | boolean | Filter launches by reused capsules |

        | fairings_reused | `true` | boolean | Filter by reused fairings |

        | fairings_recovery_attempt | `false` | boolean | Filter by fairing recovery attempts |

        | fairings_recovered | `false` | boolean | Filter by recovered fairings |

        | fairings_ship | `MRSTEVEN` | string | Filter by fairings ship used |

        | site_id | `ksc_lc_39a` | string | Filter by launch site ID |

        | site_name | `KSC LC 39A` | string | Filter by launch site ID |

        | payload_id | `BulgariaSat-1` | string | Filter by payload ID |

        | norad_id | `43571` | integer | Filter by NORAD ID |

        | customer | `Iridium` | string | Filter by launch payload customer |

        | nationality | `Bulgaria` | string | Filter by payload nationality |

        | manufacturer | `SSL` | string | Filter by payload manufacturer |

        | payload_type | `Satellite` | string | Filter by payload type |

        | orbit | `GTO` | string | Filter by payload orbit |

        | reference_system | `geocentric` | string | Filter by payload orbit reference system |

        | regime | `geostationary` | string | Filter by payload orbit regime |

        | longitude | `-108` | float | Filter by payload orbit longitude |

        | semi_major_axis_km | `21226.178` | float | Filter by payload orbit semi major axis |

        | eccentricity | `0.6904141` | float | Filter by payload orbit eccentricity |

        | periapsis_km | `193.19` | float | Filter by payload orbit periapsis |

        | apoapsis_km | `29502.896` | float | Filter by payload orbit apoapsis |

        | inclination_deg | `27.0648` | float | Filter by payload orbit inclination |

        | period_min | `512.941` | float | Filter by payload orbit period |

        | lifespan_years | `512.941` | integer | Filter by payload lifespan in years |

        | epoch | `2018-08-07T06:57:16.000Z` | string | Filter by payload orbit epoch |

        | mean_motion | `2.80734018` | float | Filter by payload orbit mean motion |

        | raan | `227.0228` | float | Filter by payload orbit right ascension of the ascending node |

        | launch_success | `true` | boolean | Filter by launch success |


        #### Optional Ouput Control Querystrings


        | Param  | Sample | Type | Description |

        | --- | --- | --- | --- |

        | id | `true` | boolean | Set as `true` to show mongo document id's |

        | limit | `3` | integer | Limit results returned, defaults to all documents returned |

        | offset | `3` | integer | Offset or skip results from the beginning of the query |

        | sort | `flight_number` | string | Change result sorting by setting value to any parameter in this list |

        | order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |
      summary: Upcoming Launches
      tags:
      - Launches
      operationId: UpcomingLaunches
      deprecated: false
      produces:
      - application/json; charset=utf-8
      parameters: []
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/UpcomingLaunch'
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-RAY:
              type: string
              default: 458456524e5e58df-DFW
            Connection:
              type: string
              default: keep-alive
            Content-Encoding:
              type: string
              default: gzip
            Date:
              type: string
              default: Mon, 10 Sep 2018 19:35:20 GMT
            Expect-CT:
              type: string
              default: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              type: string
              default: cloudflare
            Strict-Transport-Security:
              type: string
              default: max-age=15552000; includeSubDomains
            Transfer-Encoding:
              type: string
              default: chunked
            Vary:
              type: string
              default: Accept-Encoding, Origin
            X-Content-Type-Options:
              type: string
              default: nosniff
            X-DNS-Prefetch-Control:
              type: string
              default: off
            X-Download-Options:
              type: string
              default: noopen
            X-Frame-Options:
              type: string
              default: SAMEORIGIN
            X-Response-Time:
              type: string
              default: 79ms
            X-XSS-Protection:
              type: string
              default: 1; mode=block
definitions:
  AllLaunch:
    title: AllLaunch
    example:
      flight_number: 1
      mission_name: FalconSat
      mission_id: []
      upcoming: false
      launch_year: 2006
      launch_date_unix: 1143239400
      launch_date_utc: 2006-03-24T22:30:00Z
      launch_date_local: 2006-03-24T22:30:00+00:00
      is_tentative: false
      tentative_max_precision: hour
      tbd: false
      launch_window: 0
      rocket:
        rocket_id: falcon1
        rocket_name: Falcon 1
        rocket_type: Merlin A
        first_stage:
          cores:
          - core_serial: Merlin1A
            flight: 1
            block: 
            gridfins: false
            legs: false
            reused: false
            land_success: 
            landing_intent: false
            landing_type: 
            landing_vehicle: 
        second_stage:
          block: 1
          payloads:
          - payload_id: FalconSAT-2
            norad_id: []
            reused: false
            customers:
            - DARPA
            nationality: United States
            manufacturer: SSTL
            payload_type: Satellite
            payload_mass_kg: 20
            payload_mass_lbs: 43
            orbit: LEO
            orbit_params:
              reference_system: geocentric
              regime: low-earth
              longitude: 
              semi_major_axis_km: 
              eccentricity: 
              periapsis_km: 400
              apoapsis_km: 500
              inclination_deg: 39
              period_min: 
              lifespan_years: 
              epoch: 
              mean_motion: 
              raan: 
              arg_of_pericenter: 
              mean_anomaly: 
        fairings:
          reused: false
          recovery_attempt: false
          recovered: false
          ship: 
      ships: []
      telemetry:
        flight_club: 
      launch_site:
        site_id: kwajalein_atoll
        site_name: Kwajalein Atoll
        site_name_long: Kwajalein Atoll Omelek Island
      launch_success: false
      launch_failure_details:
        time: 33
        altitude: 
        reason: merlin engine failure
      links:
        mission_patch: https://images2.imgbox.com/40/e3/GypSkayF_o.png
        mission_patch_small: https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png
        reddit_campaign: 
        reddit_launch: 
        reddit_recovery: 
        reddit_media: 
        presskit: 
        article_link: https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html
        wikipedia: https://en.wikipedia.org/wiki/DemoSat
        video_link: https://www.youtube.com/watch?v=0a_00nJ_Y88
        youtube_id: 0a_00nJ_Y88
        flickr_images: []
      details: Engine failure at 33 seconds and loss of vehicle
      static_fire_date_utc: 2006-03-17T00:00:00Z
      static_fire_date_unix: 1142553600
      timeline:
        webcast_liftoff: 54
    type: object
    properties:
      flight_number:
        type: integer
        format: int32
      mission_name:
        type: string
      mission_id:
        type: array
        items:
          type: string
      upcoming:
        type: boolean
      launch_year:
        type: string
      launch_date_unix:
        type: integer
        format: int32
      launch_date_utc:
        type: string
      launch_date_local:
        type: string
      is_tentative:
        type: boolean
      tentative_max_precision:
        type: string
      tbd:
        type: boolean
      launch_window:
        type: integer
        format: int32
      rocket:
        $ref: '#/definitions/Rocket'
      ships:
        type: array
        items:
          type: string
      launch_site:
        $ref: '#/definitions/LaunchSite'
      launch_success:
        type: boolean
      launch_failure_details:
        $ref: '#/definitions/LaunchFailureDetails'
      links:
        $ref: '#/definitions/Links2'
      details:
        type: string
      static_fire_date_utc:
        type: string
      static_fire_date_unix:
        type: integer
        format: int32
      timeline:
        $ref: '#/definitions/Timeline'
    required:
    - flight_number
    - mission_name
    - mission_id
    - upcoming
    - launch_year
    - launch_date_unix
    - launch_date_utc
    - launch_date_local
    - is_tentative
    - tentative_max_precision
    - tbd
    - launch_window
    - rocket
    - ships
    - telemetry
    - launch_site
    - launch_success
    - links
    - details
    - static_fire_date_utc
    - static_fire_date_unix
    - timeline
  Rocket:
    title: Rocket
    example:
      rocket_id: falcon1
      rocket_name: Falcon 1
      rocket_type: Merlin A
      first_stage:
        cores:
        - core_serial: Merlin1A
          flight: 1
          block: 
          gridfins: false
          legs: false
          reused: false
          land_success: 
          landing_intent: false
          landing_type: 
          landing_vehicle: 
      second_stage:
        block: 1
        payloads:
        - payload_id: FalconSAT-2
          norad_id: []
          reused: false
          customers:
          - DARPA
          nationality: United States
          manufacturer: SSTL
          payload_type: Satellite
          payload_mass_kg: 20
          payload_mass_lbs: 43
          orbit: LEO
          orbit_params:
            reference_system: geocentric
            regime: low-earth
            longitude: 
            semi_major_axis_km: 
            eccentricity: 
            periapsis_km: 400
            apoapsis_km: 500
            inclination_deg: 39
            period_min: 
            lifespan_years: 
            epoch: 
            mean_motion: 
            raan: 
            arg_of_pericenter: 
            mean_anomaly: 
      fairings:
        reused: false
        recovery_attempt: false
        recovered: false
        ship: 
    type: object
    properties:
      rocket_id:
        type: string
      rocket_name:
        type: string
      rocket_type:
        type: string
      first_stage:
        $ref: '#/definitions/FirstStage'
      second_stage:
        $ref: '#/definitions/SecondStage'
      fairings:
        $ref: '#/definitions/Fairings'
    required:
    - rocket_id
    - rocket_name
    - rocket_type
    - first_stage
    - second_stage
    - fairings
  FirstStage:
    title: FirstStage
    example:
      cores:
      - core_serial: Merlin1A
        flight: 1
        block: 
        gridfins: false
        legs: false
        reused: false
        land_success: 
        landing_intent: false
        landing_type: 
        landing_vehicle: 
    type: object
    properties:
      cores:
        type: array
        items:
          $ref: '#/definitions/Core'
    required:
    - cores
  Core:
    title: Core
    example:
      core_serial: Merlin1A
      flight: 1
      block: 
      gridfins: false
      legs: false
      reused: false
      land_success: 
      landing_intent: false
      landing_type: 
      landing_vehicle: 
    type: object
    properties:
      core_serial:
        type: string
      flight:
        type: integer
        format: int32
      block:
        type: string
      gridfins:
        type: boolean
      legs:
        type: boolean
      reused:
        type: boolean
      land_success:
        type: string
      landing_intent:
        type: boolean
      landing_type:
        type: string
      landing_vehicle:
        type: string
    required:
    - core_serial
    - flight
    - block
    - gridfins
    - legs
    - reused
    - land_success
    - landing_intent
    - landing_type
    - landing_vehicle
  SecondStage:
    title: SecondStage
    example:
      block: 1
      payloads:
      - payload_id: FalconSAT-2
        norad_id: []
        reused: false
        customers:
        - DARPA
        nationality: United States
        manufacturer: SSTL
        payload_type: Satellite
        payload_mass_kg: 20
        payload_mass_lbs: 43
        orbit: LEO
        orbit_params:
          reference_system: geocentric
          regime: low-earth
          longitude: 
          semi_major_axis_km: 
          eccentricity: 
          periapsis_km: 400
          apoapsis_km: 500
          inclination_deg: 39
          period_min: 
          lifespan_years: 
          epoch: 
          mean_motion: 
          raan: 
          arg_of_pericenter: 
          mean_anomaly: 
    type: object
    properties:
      block:
        type: integer
        format: int32
      payloads:
        type: array
        items:
          $ref: '#/definitions/Payload'
    required:
    - block
    - payloads
  Payload:
    title: Payload
    example:
      payload_id: FalconSAT-2
      norad_id: []
      reused: false
      customers:
      - DARPA
      nationality: United States
      manufacturer: SSTL
      payload_type: Satellite
      payload_mass_kg: 20
      payload_mass_lbs: 43
      orbit: LEO
      orbit_params:
        reference_system: geocentric
        regime: low-earth
        longitude: 
        semi_major_axis_km: 
        eccentricity: 
        periapsis_km: 400
        apoapsis_km: 500
        inclination_deg: 39
        period_min: 
        lifespan_years: 
        epoch: 
        mean_motion: 
        raan: 
        arg_of_pericenter: 
        mean_anomaly: 
    type: object
    properties:
      payload_id:
        type: string
      norad_id:
        type: array
        items:
          type: string
      reused:
        type: boolean
      customers:
        type: array
        items:
          type: string
      nationality:
        type: string
      manufacturer:
        type: string
      payload_type:
        type: string
      payload_mass_kg:
        type: integer
        format: int32
      payload_mass_lbs:
        type: integer
        format: int32
      orbit:
        type: string
      orbit_params:
        $ref: '#/definitions/OrbitParams'
      cap_serial:
        type: string
      mass_returned_kg:
        type: string
      mass_returned_lbs:
        type: string
      flight_time_sec:
        type: integer
        format: int32
      cargo_manifest:
        type: string
    required:
    - payload_id
    - norad_id
    - reused
    - customers
    - nationality
    - manufacturer
    - payload_type
    - payload_mass_kg
    - payload_mass_lbs
    - orbit
    - orbit_params
  OrbitParams:
    title: OrbitParams
    example:
      reference_system: geocentric
      regime: low-earth
      longitude: 
      semi_major_axis_km: 
      eccentricity: 
      periapsis_km: 400
      apoapsis_km: 500
      inclination_deg: 39
      period_min: 
      lifespan_years: 
      epoch: 
      mean_motion: 
      raan: 
      arg_of_pericenter: 
      mean_anomaly: 
    type: object
    properties:
      reference_system:
        type: string
      regime:
        type: string
      longitude:
        type: string
      semi_major_axis_km:
        type: string
      eccentricity:
        type: string
      periapsis_km:
        type: integer
        format: int32
      apoapsis_km:
        type: integer
        format: int32
      inclination_deg:
        type: integer
        format: int32
      period_min:
        type: string
      lifespan_years:
        type: string
      epoch:
        type: string
      mean_motion:
        type: string
      raan:
        type: string
      arg_of_pericenter:
        type: string
      mean_anomaly:
        type: string
    required:
    - reference_system
    - regime
    - longitude
    - semi_major_axis_km
    - eccentricity
    - periapsis_km
    - apoapsis_km
    - inclination_deg
    - period_min
    - lifespan_years
    - epoch
    - mean_motion
    - raan
    - arg_of_pericenter
    - mean_anomaly
  Fairings:
    title: Fairings
    example:
      reused: false
      recovery_attempt: false
      recovered: false
      ship: 
    type: object
    properties:
      reused:
        type: boolean
      recovery_attempt:
        type: boolean
      recovered:
        type: boolean
      ship:
        type: string
  LaunchSite:
    title: LaunchSite
    example:
      site_id: kwajalein_atoll
      site_name: Kwajalein Atoll
      site_name_long: Kwajalein Atoll Omelek Island
    type: object
    properties:
      site_id:
        type: string
      site_name:
        type: string
      site_name_long:
        type: string
    required:
    - site_id
    - site_name
    - site_name_long
  LaunchFailureDetails:
    title: LaunchFailureDetails
    example:
      time: 33
      altitude: 
      reason: merlin engine failure
    type: object
    properties:
      time:
        type: integer
        format: int32
      altitude:
        type: string
      reason:
        type: string
    required:
    - time
    - altitude
    - reason
  Links2:
    title: Links2
    example:
      mission_patch: https://images2.imgbox.com/40/e3/GypSkayF_o.png
      mission_patch_small: https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png
      reddit_campaign: 
      reddit_launch: 
      reddit_recovery: 
      reddit_media: 
      presskit: 
      article_link: https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html
      wikipedia: https://en.wikipedia.org/wiki/DemoSat
      video_link: https://www.youtube.com/watch?v=0a_00nJ_Y88
      youtube_id: 0a_00nJ_Y88
      flickr_images: []
    type: object
    properties:
      mission_patch:
        type: string
      mission_patch_small:
        type: string
      reddit_campaign:
        type: string
      reddit_launch:
        type: string
      reddit_recovery:
        type: string
      reddit_media:
        type: string
      presskit:
        type: string
      article_link:
        type: string
      wikipedia:
        type: string
      video_link:
        type: string
      youtube_id:
        type: string
      flickr_images:
        type: array
        items:
          type: string
    required:
    - mission_patch
    - mission_patch_small
    - reddit_campaign
    - reddit_launch
    - reddit_recovery
    - reddit_media
    - presskit
    - article_link
    - wikipedia
    - video_link
    - youtube_id
    - flickr_images
  Timeline:
    title: Timeline
    example:
      webcast_liftoff: 54
    type: object
    properties:
      webcast_liftoff:
        type: integer
        format: int32
      go_for_prop_loading:
        type: integer
        format: int32
      rp1_loading:
        type: integer
        format: int32
      stage1_lox_loading:
        type: integer
        format: int32
      stage2_lox_loading:
        type: integer
        format: int32
      engine_chill:
        type: integer
        format: int32
      prelaunch_checks:
        type: integer
        format: int32
      propellant_pressurization:
        type: integer
        format: int32
      go_for_launch:
        type: integer
        format: int32
      ignition:
        type: integer
        format: int32
      liftoff:
        type: integer
        format: int32
      maxq:
        type: integer
        format: int32
      meco:
        type: integer
        format: int32
      stage_sep:
        type: integer
        format: int32
      second_stage_ignition:
        type: integer
        format: int32
      seco-1:
        type: integer
        format: int32
      dragon_separation:
        type: integer
        format: int32
      dragon_solar_deploy:
        type: integer
        format: int32
      dragon_bay_door_deploy:
        type: integer
        format: int32
      fairing_deploy:
        type: integer
        format: int32
      payload_deploy:
        type: integer
        format: int32
      second_stage_restart:
        type: integer
        format: int32
      seco-2:
        type: integer
        format: int32
      webcast_launch:
        type: integer
        format: int32
      payload_deploy_1:
        type: integer
        format: int32
      payload_deploy_2:
        type: integer
        format: int32
      first_stage_boostback_burn:
        type: integer
        format: int32
      first_stage_entry_burn:
        type: integer
        format: int32
      first_stage_landing:
        type: integer
        format: int32
      beco:
        type: integer
        format: int32
      side_core_sep:
        type: integer
        format: int32
      side_core_boostback:
        type: integer
        format: int32
      center_stage_sep:
        type: integer
        format: int32
      center_core_boostback:
        type: integer
        format: int32
      side_core_entry_burn:
        type: integer
        format: int32
      center_core_entry_burn:
        type: integer
        format: int32
      side_core_landing:
        type: integer
        format: int32
      center_core_landing:
        type: integer
        format: int32
  OneLaunch:
    title: OneLaunch
    example:
      flight_number: 65
      mission_name: Telstar 19V
      mission_id:
      - F4F83DE
      launch_year: 2018
      launch_date_unix: 1532238600
      launch_date_utc: 2018-07-22T05:50:00Z
      launch_date_local: 2018-07-22T05:50:00+00:00
      is_tentative: false
      tentative_max_precision: hour
      tbd: false
      launch_window: 7200
      rocket:
        rocket_id: falcon9
        rocket_name: Falcon 9
        rocket_type: FT
        first_stage:
          cores:
          - core_serial: B1047
            flight: 1
            block: 5
            gridfins: true
            legs: true
            reused: false
            land_success: true
            landing_intent: true
            landing_type: ASDS
            landing_vehicle: OCISLY
        second_stage:
          block: 5
          payloads:
          - payload_id: Telstar 19V
            norad_id:
            - 43562
            reused: false
            customers:
            - Telesat
            nationality: Canada
            manufacturer: SSL
            payload_type: Satellite
            payload_mass_kg: 7076
            payload_mass_lbs: 15600
            orbit: GTO
            orbit_params:
              reference_system: geocentric
              regime: geostationary
              longitude: -65
              semi_major_axis_km: 42163.837
              eccentricity: 0.0001327
              periapsis_km: 35780.107000000004
              apoapsis_km: 35791.296999999999
              inclination_deg: 0.0126
              period_min: 1436.0509999999999
              lifespan_years: 15
              epoch: 2019-02-03T19:17:09Z
              mean_motion: 1.0027497700000001
              raan: 130.2989
              arg_of_pericenter: 165.1069
              mean_anomaly: 64.549499999999995
        fairings:
          reused: false
          recovery_attempt: false
          recovered: false
          ship: 
      ships:
      - GOPURSUIT
      - GOQUEST
      - HAWK
      - OCISLY
      telemetry:
        flight_club: https://www.flightclub.io/results/?code=TS19V
      launch_site:
        site_id: ccafs_slc_40
        site_name: CCAFS SLC 40
        site_name_long: Cape Canaveral Air Force Station Space Launch Complex 40
      launch_success: true
      links:
        mission_patch: https://images2.imgbox.com/c5/53/5jklZkPz_o.png
        mission_patch_small: https://images2.imgbox.com/12/7c/NiniYxoh_o.png
        reddit_campaign: https://www.reddit.com/r/spacex/comments/8w19yg/telstar_19v_launch_campaign_thread/
        reddit_launch: https://www.reddit.com/r/spacex/comments/90p1a6/rspacex_telstar_19v_official_launch_discussion/
        reddit_recovery: 
        reddit_media: https://www.reddit.com/r/spacex/comments/90oxrr/rspacex_telstar_19v_media_thread_videos_images/
        presskit: http://www.spacex.com/sites/spacex/files/telstar19vantagepresskit.pdf
        article_link: https://spaceflightnow.com/2018/07/22/spacex-delivers-for-telesat-with-successful-early-morning-launch/
        wikipedia: https://en.wikipedia.org/wiki/Telstar_19V
        video_link: https://www.youtube.com/watch?v=xybp6zLaGx4
        youtube_id: xybp6zLaGx4
        flickr_images:
        - https://farm1.staticflickr.com/856/28684550147_49802752b3_o.jpg
        - https://farm1.staticflickr.com/927/28684552447_956a9744f1_o.jpg
        - https://farm2.staticflickr.com/1828/29700007298_8ac5891d2c_o.jpg
        - https://farm1.staticflickr.com/914/29700004918_31ed7b73ef_o.jpg
        - https://farm1.staticflickr.com/844/29700002748_3047e50a0a_o.jpg
        - https://farm2.staticflickr.com/1786/29700000688_2514cd3cbb_o.jpg
      details: SSL-manufactured communications satellite intended to be placed at 63° West over the Americas. At 7,075 kg, it became the heaviest commercial communications satellite ever launched.
      upcoming: false
      static_fire_date_utc: 2018-07-18T21:00:00Z
      static_fire_date_unix: 1531947600
      timeline:
        webcast_liftoff: 899
        go_for_prop_loading: -2280
        rp1_loading: -2100
        stage1_lox_loading: -2100
        stage2_lox_loading: -960
        engine_chill: -420
        prelaunch_checks: -60
        propellant_pressurization: -60
        go_for_launch: -45
        ignition: -3
        liftoff: 0
        maxq: 72
        meco: 150
        stage_sep: 153
        second_stage_ignition: 154
        fairing_deploy: 220
        first_stage_entry_burn: 372
        seco-1: 492
        first_stage_landing: 509
        second_stage_restart: 1609
        seco-2: 1659
        payload_deploy: 1960
    type: object
    properties:
      flight_number:
        type: integer
        format: int32
      mission_name:
        type: string
      mission_id:
        type: array
        items:
          type: string
      launch_year:
        type: string
      launch_date_unix:
        type: integer
        format: int32
      launch_date_utc:
        type: string
      launch_date_local:
        type: string
      is_tentative:
        type: boolean
      tentative_max_precision:
        type: string
      tbd:
        type: boolean
      launch_window:
        type: integer
        format: int32
      rocket:
        $ref: '#/definitions/Rocket'
      ships:
        type: array
        items:
          type: string
      launch_site:
        $ref: '#/definitions/LaunchSite'
      launch_success:
        type: boolean
      links:
        $ref: '#/definitions/Links2'
      details:
        type: string
      upcoming:
        type: boolean
      static_fire_date_utc:
        type: string
      static_fire_date_unix:
        type: integer
        format: int32
      timeline:
        $ref: '#/definitions/Timeline'
    required:
    - flight_number
    - mission_name
    - mission_id
    - launch_year
    - launch_date_unix
    - launch_date_utc
    - launch_date_local
    - is_tentative
    - tentative_max_precision
    - tbd
    - launch_window
    - rocket
    - ships
    - telemetry
    - launch_site
    - launch_success
    - links
    - details
    - upcoming
    - static_fire_date_utc
    - static_fire_date_unix
    - timeline
  PastLaunch:
    title: PastLaunch
    example:
      flight_number: 1
      mission_name: FalconSat
      mission_id: []
      upcoming: false
      launch_year: 2006
      launch_date_unix: 1143239400
      launch_date_utc: 2006-03-24T22:30:00Z
      launch_date_local: 2006-03-24T22:30:00+00:00
      is_tentative: false
      tentative_max_precision: hour
      tbd: false
      launch_window: 0
      rocket:
        rocket_id: falcon1
        rocket_name: Falcon 1
        rocket_type: Merlin A
        first_stage:
          cores:
          - core_serial: Merlin1A
            flight: 1
            block: 
            gridfins: false
            legs: false
            reused: false
            land_success: 
            landing_intent: false
            landing_type: 
            landing_vehicle: 
        second_stage:
          block: 1
          payloads:
          - payload_id: FalconSAT-2
            norad_id: []
            reused: false
            customers:
            - DARPA
            nationality: United States
            manufacturer: SSTL
            payload_type: Satellite
            payload_mass_kg: 20
            payload_mass_lbs: 43
            orbit: LEO
            orbit_params:
              reference_system: geocentric
              regime: low-earth
              longitude: 
              semi_major_axis_km: 
              eccentricity: 
              periapsis_km: 400
              apoapsis_km: 500
              inclination_deg: 39
              period_min: 
              lifespan_years: 
              epoch: 
              mean_motion: 
              raan: 
              arg_of_pericenter: 
              mean_anomaly: 
        fairings:
          reused: false
          recovery_attempt: false
          recovered: false
          ship: 
      ships: []
      telemetry:
        flight_club: 
      launch_site:
        site_id: kwajalein_atoll
        site_name: Kwajalein Atoll
        site_name_long: Kwajalein Atoll Omelek Island
      launch_success: false
      launch_failure_details:
        time: 33
        altitude: 
        reason: merlin engine failure
      links:
        mission_patch: https://images2.imgbox.com/40/e3/GypSkayF_o.png
        mission_patch_small: https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png
        reddit_campaign: 
        reddit_launch: 
        reddit_recovery: 
        reddit_media: 
        presskit: 
        article_link: https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html
        wikipedia: https://en.wikipedia.org/wiki/DemoSat
        video_link: https://www.youtube.com/watch?v=0a_00nJ_Y88
        youtube_id: 0a_00nJ_Y88
        flickr_images: []
      details: Engine failure at 33 seconds and loss of vehicle
      static_fire_date_utc: 2006-03-17T00:00:00Z
      static_fire_date_unix: 1142553600
      timeline:
        webcast_liftoff: 54
    type: object
    properties:
      flight_number:
        type: integer
        format: int32
      mission_name:
        type: string
      mission_id:
        type: array
        items:
          type: string
      upcoming:
        type: boolean
      launch_year:
        type: string
      launch_date_unix:
        type: integer
        format: int32
      launch_date_utc:
        type: string
      launch_date_local:
        type: string
      is_tentative:
        type: boolean
      tentative_max_precision:
        type: string
      tbd:
        type: boolean
      launch_window:
        type: integer
        format: int32
      rocket:
        $ref: '#/definitions/Rocket'
      ships:
        type: array
        items:
          type: string
      launch_site:
        $ref: '#/definitions/LaunchSite'
      launch_success:
        type: boolean
      launch_failure_details:
        $ref: '#/definitions/LaunchFailureDetails'
      links:
        $ref: '#/definitions/Links2'
      details:
        type: string
      static_fire_date_utc:
        type: string
      static_fire_date_unix:
        type: integer
        format: int32
      timeline:
        $ref: '#/definitions/Timeline'
    required:
    - flight_number
    - mission_name
    - mission_id
    - upcoming
    - launch_year
    - launch_date_unix
    - launch_date_utc
    - launch_date_local
    - is_tentative
    - tentative_max_precision
    - tbd
    - launch_window
    - rocket
    - ships
    - telemetry
    - launch_site
    - launch_success
    - links
    - details
    - static_fire_date_utc
    - static_fire_date_unix
    - timeline
  UpcomingLaunch:
    title: UpcomingLaunch
    type: object
    properties:
      flight_number:
        type: integer
        format: int32
      mission_name:
        type: string
      mission_id:
        type: array
        items:
          type: string
      launch_year:
        type: string
      launch_date_unix:
        type: integer
        format: int32
      launch_date_utc:
        type: string
      launch_date_local:
        type: string
      is_tentative:
        type: boolean
      tentative_max_precision:
        type: string
      tbd:
        type: boolean
      launch_window:
        type: string
      rocket:
        $ref: '#/definitions/Rocket'
      ships:
        type: array
        items:
          type: string
      launch_site:
        $ref: '#/definitions/LaunchSite'
      launch_success:
        type: string
      links:
        $ref: '#/definitions/Links2'
      details:
        type: string
      upcoming:
        type: boolean
      static_fire_date_utc:
        type: string
      static_fire_date_unix:
        type: string
      timeline:
        type: string
    required:
    - flight_number
    - mission_name
    - mission_id
    - launch_year
    - launch_date_unix
    - launch_date_utc
    - launch_date_local
    - is_tentative
    - tentative_max_precision
    - tbd
    - launch_window
    - rocket
    - ships
    - telemetry
    - launch_site
    - launch_success
    - links
    - details
    - upcoming
    - static_fire_date_utc
    - static_fire_date_unix
    - timeline
tags:
- name: Launches